/* Define colors here */

:root {

  --ig-status-text-color: #083b45; /* 1. IG Title and status text color */
  --navbar-bg-color: #0b5260; /* 2. Header container color */
  --footer-bg-color: #0b5260; /* 3. Footer background color*/
  --footer-container-bg-color: #0b5260; /* 4. Footer container color */
  --stripe-bg-color: #999999; /* 5. Header strip color */

  --btn-hover-color: #077e74;  /* 6. Menu button hover color */
  --btn-active-color: #559575; /* 7. Menu button active color */
  --btn-text-color: #e6e6e6; /* 8. Menu button text color */
  --btn-gradient-start-color: #428bca; /* 9. Menu item gradient start color */
  --btn-gradient-end-color: #357ebd; /* 10. Menu item gradient end  color */
  --btn-gradient-start-color-alpha: #ff428bca; /* 11. Menu item gradient start color (with alpha) */
  --btn-gradient-end-color-alpha: #ff357ebd; /* 12. Menu item gradient end color (with alpha) */
  --link-color: #00008B; /* 13. Hyperlink text color */
  --link-hover-color: #2a6496; /* 14. Hyperlink text hover color */

  --publish-box-bg-color: #ffffff; /* 15. Publish box background color */
  --publish-box-border: 1px solid #ff4500; /* 16.  Publish box border definition */
  --toc-box-bg-color: #ffffff; /* 17.  TOC box background color */

  --toc-box-border: 1px solid navy; /* 18. TOC box border definition */

  --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */
  
  --footer-hyperlink-text-color: #FFFFFF; /* 25. Footer hyperlinks font color */


}

