---
---
<!-- get modelType -->
{% include fragment-modelType.html id='de-identified-uds-plus-patient' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='de-identified-uds-plus-patient' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: DeIdentifiedUDSPlusPatient - Mappings</h2>
{% include fragment-simpletable.html %}

<p>Mappings for the de-identified-uds-plus-patient {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='de-identified-uds-plus-patient' %}

  {%include StructureDefinition-de-identified-uds-plus-patient-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='de-identified-uds-plus-patient' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
