Links: <a style="color: var(--footer-hyperlink-text-color)" href="{{site.data.info.assets}}toc.html">Table of Contents</a> |
       <a style="color: var(--footer-hyperlink-text-color)" rel="license" href="license.html">License</a> |
       <a style="color: var(--footer-hyperlink-text-color)" href="qa.html">QA Report</a>
       {% for feedbacklink in site.data.features.feedback %}{% if feedbacklink.dashboard %} | <a style="color: var(--footer-hyperlink-text-color)" target="_blank" aria-label="{{feedbacklink.dashboard.label}}" href="{{feedbacklink.dashboard.url}}">{{feedbacklink.dashboard.label}}</a>{% endif %}{% endfor %}

       | <a style="color: #81BEF7" aria-lable="Version History" target="_blank" href="{{site.data.fhir.canonical}}/history.html">Version History <img alt="external" style="vertical-align: baseline" src="external.png"/></a></a> |
