<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a role="button" href="index.html">IG Home</a></li>
  <li><a role="button" href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" role="button" href="#" class="dropdown-toggle">UDS Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">   
      <li>
        <a role="button" href="{{site.data.info.assets}}background.html">Implementation Guide Overview</a>
      </li>
      <li>
        <a role="button" href="{{site.data.info.assets}}usecases.html">Use Cases and Workflows</a>
      </li>
      <li>
        <a role="button" href="{{site.data.info.assets}}dataelements.html">UDS+ Data Elements and FHIR Mappings</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a role="button" href="reportingguidance.html">Implementation Guidance</a>
      </li>
      <li>
        <a role="button" href="spec.html">FHIR API Based Reporting</a>
      </li>
    </ul>
  </li>
  <li><a role="button" href="artifacts.html">Artifact Index</a></li>
  <li><a role="button" href="changes.html">Change History</a></li>
  <li class="dropdown">
    <a role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a role="button" target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a role="button" href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
